/*
.error{
    display: none;
    margin-left: 10px;
}		

.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}

.fixed-table .header-fixed {
    position: absolute;
    top: 0px;
    z-index: 1020;  10 less than .navbar-fixed to prevent any overlap 
    border-bottom: 2px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.fixed-table{
    display:block;
    position:relative;
}
.fixed-table th{
    padding: 8px;
    line-height: 18px;
    text-align: left;
}
.fixed-table .table-content{
    display:block;
    position: relative;
    height: 215px; FIX THE HEIGHT YOU NEED
    overflow-y: auto;
}
.fixed-table .header-copy{
    position:absolute;
    top:0;
    left:0;
}
.fixed-table .header-copy th{
    background-color:#fff;
} */
.searchButton {
    background: url('../img/search11.png');
    background-position:center;
    background-repeat:no-repeat;
}
.searchButton :hover {
    background-color: #7BB0E6;
    background: url('../img/search11.png');
    background-position:center;
    background-repeat:no-repeat;
}
@media (min-width: 768px) and (max-width: 979px) {
   .col-md-1 .col-md-2 .col-md-3 .col-md-4 .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-10 .col-md-12{
       width:100%;
       float:left
   }
}
 
@media (max-width:480px){
    .col-md-1 .col-md-2 .col-md-3 .col-md-4 .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-10 .col-md-12 {
       width:100%;
       float:none
   }
}