/* dCodes Framework:(c) TemplateAccess */
.dc_clear{clear:both;
         font-size:0px;line-height:0px;
         margin:0;padding:0;width:100%
}
#tsort-tablewrapper{
    width:100%
}
#tsort-tableheader{
    height:55px
}
.tsort-search{
    background:#fff;border:1px solid #c6d5e1;float:left;padding:6px
}
#tsort-tableheader select{
    float:left;font-size:12px;padding:2px 4px 4px;width:125px
}
#tsort-tableheader input{
    float:left;font-size:12px;margin-left:4px;padding:2px 4px 4px;width:225px;
}
.tsort-details{
    float:right;padding-top:12px
}
.tsort-details div{
    float:left;font-size:12px;margin-left:15px
}
.tinytable{
    border-bottom:none;border-left:1px solid #c6d5e1;border-top:1px solid #c6d5e1;font-size:12px;width:100%
}
.tinytable th{
    background-color:#6A92AE;border:1px solid #fff;border-right:none;color:#fff;text-align:left
}
.tinytable th h5{
    font-size:13px;color:#fff;padding:6px 8px 8px
}
.tinytable td{border-bottom:1px solid #c6d5e1;border-right:1px solid #c6d5e1;padding:4px 6px 6px}
.tinytable .head h5{
    background:url(../images/sort.gif) 7px center no-repeat;cursor:pointer;padding-left:18px
}
.tinytable .desc,.sortable .asc{
    background-color:#9CF
}
.tinytable .desc h5{
    background:url(../images/desc.gif) 7px center no-repeat;cursor:pointer;padding-left:18px
}
.tinytable .asc h5{
    background:url(../images/asc.gif) 7px center no-repeat;cursor:pointer;padding-left:18px
}
.tinytable .head:hover,.tinytable .desc:hover,.tinytable .asc:hover{
    color:#fff
}
.tinytable .tsort-evenrow td{
    background:#fff
}
.tinytable .tsort-oddrow td{
    background:#ecf2f6
}
.tinytable td.tsort-evenselected{
    background:#ecf2f6
}
.tinytable td.tsort-oddselected{
    background:#dce6ee
}
.tinytable tfoot{
    background:#fff;font-weight:bold
}
.tinytable tfoot td{
    padding:6px 8px 8px
}
#tsort-tablefooter{
    height:15px;margin-top:20px
}
#tsort-tablenav{
    float:left
}
#tsort-tablenav img{
    cursor:pointer
}
#tsort-tablenav div{
    float:left;margin-right:15px
}
#tsort-tablelocation{
    float:right;font-size:12px
}
#tsort-tablelocation select{
    margin-right:3px
}
#tsort-tablelocation div{
    float:left;margin-left:15px
}
.tsort-page{
    font-style:italic;margin-top:2px
}
#tsort-selectedrow td{
    background:#c6d5e1
}
.dc_fixed_tables{
    border:solid 1px #D5D5D5;border-collapse:collapse;width:100%
}
.dc_fixed_tables td{
    border:1px solid #D5D5D5;font-size:12px;padding:7px 5px
}
.dc_fixed_tables th{
    background:#eee;background:linear-gradient(top,#eee 0%,#ddd 100%);background:-moz-linear-gradient(top,#eee 0%,#ddd 100%);background:-ms-linear-gradient(top,#eee 0%,#ddd 100%);background:-o-linear-gradient(top,#eee 0%,#ddd 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#ddd));background:-webkit-linear-gradient(top,#eee 0%,#ddd 100%);border-right:1px solid #D5D5D5;font-size:13.5px;font-weight:bold;line-height:120%;padding:8px 5px;text-align:left}
