 
/*#btnSearchCustomer {
    background: url('../img/search.png');
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer;
    border:none;
    width:20px;
    height:20px;
}*/
.btn-edit{
    padding: 3px 15px;
    background: #E6E6E6;
    border: 1px solid #b2b2b2;
    font-weight: bold;
    line-height: 1.5;
    width: 100%;

}
.btn-edit:hover{
    background: #A4A4A4;
    border: 1px solid #819FF7;
}
input, button, select, textarea {
    margin: 1px;
    padding-top: 4px;
}

#formContent{    
    font-size: 12px;
}

.table-edit{
    font-size: 13px;
}
.table-bordered > thead > tr > th{
    border: 0;
}

.table-edit.table thead tr {
    background-color: #ddd;
}
.delete{
    background-image: url('../img/delete.png');
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}
.x{
    background-image: url('../img/delete.png');
    background-size: contain;
    cursor: not-allowed;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}
.edit{
    background: url('../img/edit.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}
.btnActive{
    background-image: url('../img/active.png');
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}

#headerWijithLogo{
    background-size: contain;
    background-repeat: no-repeat;
    width:130px; /*width of your image*/
    height:50px; /*height of your image*/
    margin-left: 50px; /* If you want no margin */
    margin-top: -10px;
    padding:0; /*if your want to padding */
}

.logo{
    background-size: contain;
    background-repeat: no-repeat;
    width:130px; /*width of your image*/
    height:50px; /*height of your image*/
    margin-left: 50px; /* If you want no margin */
    margin-top: 0px;
    padding:0; /*if your want to padding */
}

#redLine {
    background-color: #FF0000;

    height:2px; 

}
#companyName {
    font-size: 20px;
    font-weight: 900;
    font-family: "Times New Roman", Georgia, Serif;


}

.searchCustomer{ 
    display:none;   
    position:fixed;  
    _position:absolute; 
    background:#FFFFFF; 
    top:2%;    
    margin: 0 auto;
    border:1px solid #b2b2b2;  	
    padding:15px;  
    font-size:12px;  
}

.processingDivImage{
    display:none;   
    position:fixed;  
    _position:absolute;
    top:5%;    
    margin: 0 auto; 
    margin-top: 10%;
    margin-left: 15%;
}

.imgSuccess {
    width: 32px;
    height: 32px;
    background-image: url('../img/success.png');
}
.imgError {
    width: 32px;
    height: 32px;
    background-image: url('../img/error.png');
}
.imgWanning {
    width: 32px;
    height: 32px;
    background-image: url('../img/warning.png'); 
}
.decimalNumber{
    text-align:right;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.divError{
    display: none;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.txtError{
    border: 1px solid #FA5858;
}
.msgTextField {
    color: #FA5858;
    font-size: 12px;

}
.redmsg {
    color: #FF0000;
    font-size: 12px;
    font: bold;

}
.errorMsg {
    color: #FF0000;
    font-size: 14px;
    font-family: "Times New Roman", Georgia, Serif;
    margin-top: 5px;
}
.branch {
    font-size: 20px;
    font-weight: 900;
    font-family: "Times New Roman", Georgia, Serif;
}
.branchTell {
    font-size: 14px;
    font-weight: 900;
    font-family: "Times New Roman", Georgia, Serif;
}
#branchIcon{
    background-image: url('../img/branch.png');
    background-size: contain;   
    background-repeat: no-repeat;
    width: 40px;
    height:45px;


}

.divSuccess {
    display: none;
    color: #000000;
    font-size: 15px;
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #90EE90;
    border-color:#00FF00;
    padding: 0 10px 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.successMsg {
    color:#0174DF;
    font-size: 14px;
    font-family: "Times New Roman", Georgia, Serif;
    margin-top: 5px;

}
.labelMessage {
    color:#0174DF;
    font-size: 14px;
    font-family: "Times New Roman", Georgia, Serif;
    margin-top: 5px;

}
#itesCopyright {
    font-size: 14px;
    font-family: "Times New Roman", Georgia, Serif;
}
#txtSingUp{
    font-size: 32px;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: bold;
}
.msgTextField_ {
    color: #FA5858;
}


.fileComment{
    margin-top: 6px;
    width: 20px;
    height:20px;
    border: 0px solid #FA5858;
}

.success_file{
    background-image: url('../img/Correct.png');
    background-size: contain;
    margin: 8px auto 2px;
}

.warning_file{
    background-image: url('../img/warning.png');
    background-size: contain;
}
#login { 
    background:#589ca7 url('../img/c12.jpg') no-repeat center top; 
}

.close_div{
    position: absolute; 
    top: 5px; 
    right: 8px; 
    font-size: 24px; 
    color: #999999; 
    cursor:pointer; 
    font-weight: bold;
}
.close_div:hover{
    color:#444; 

}
.jobsPopUp{ 
    display:none;   
    position:fixed;  
    _position:absolute; 
    background:#FFFFFF; 
    top:12%;
    left: 35%;
    margin: 0 auto;
    border:1px solid #b2b2b2;  	
    padding:35 0 10 0;  
    font-size:12px;  
}
.collectionForm{ 
    display:none;   
    position:fixed;  
    _position:absolute; 
    background:#FFFFFF; 
    top:7%;
    left: 25%;
    margin: 0 auto;
    border:1px solid #b2b2b2;  	
    padding:12 0 0 0;  
    font-size:12px;  
}
.posting_letter{
    background-image: url('../img/letter2.png');
    /*background-repeat:no repeat-y;*/
    background-size: contain;
    width: 20px;
    height:16px;
    border: 0px solid #FA5858;
    cursor: pointer;
    margin-left: 8px;
}
.cancel_letter{
    background-image: url('../img/bin3.png');
    background-size: contain;
    width: 20px;
    height:20px;
    border: 0px solid #FA5858;
    cursor: pointer;
}
.assign_off{
    background-image: url('../img/addo.png');
    background-size: contain;
    width: 20px;
    height:20px;
    border: 0px solid #FA5858;
    cursor: pointer;
    margin-left: 8px;
}
.edit_officer{
    background-image: url('../img/edit_off.png');
    background-size: contain;
    width: 20px;
    height:20px;
    border: 0px solid #FA5858;
    cursor: pointer;
    margin-left: 8px;
}
.view_hist{
    background-image: url('../img/view3.png');
    background-size: contain;
    width: 20px;
    height:20px;
    border: 0px solid #FA5858;
    cursor: pointer;
    margin-left: 18px;
}

.highlight{
    background-color: #58A0E8;
}

.lb{width:100%;
    height:34px;
    padding:3px 12px;
    color:#555;
}
.underline {
    color: red;
    text-decoration: none;
    border-bottom: 1px solid #000000;
}
.underline-blue {
    color: #58A0E8;
    text-decoration: none;
    border-bottom: 1px solid #000000;
}
.underline:hover {
    border-bottom-color: green;
}